*.xcuserstate
Algorithms.xcodeproj/project.xcworkspace/xcuserdata/berkinkoca.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata
Algorithms.xcodeproj/xcuserdata/berkinkoca.xcuserdatad
MorsCode.playground
